<h2>ADMIN</h2>

<div class="adminnav">
<ul>
<li><a href="#/splash">Home</a></li>
<li><a href="#/client">Shop</a></li>
<li><a href="#/admin">Admin</a></li>
<li><a href="#/about">About</a></li>
</ul>
</div>

<form class="adminform" ng-submit="adminCtrl.addSuperHero(newHero)">
<input type="text" ng-model="newHero.name" placeholder="Name">
<input type="text" ng-model="newHero.photo" placeholder="Photo">
<input type="text" ng-model="newHero.price" placeholder="Price">
<button type="submit">Add Sox</button>

</form>

<div class="adminsox">
<article>
  <div class="soxx" contentEditable="true" ng-repeat="hero in adminCtrl.superheros">
    <p>  {{hero.name}}</p>
      <img ng-src="{{ hero.photo}}" alt="">
    <p>  Price: {{hero.price}} </p>
      <button ng-click="adminCtrl.deleteSuperHero(hero)">Delete Sox</button>
    <!--   <button ng-click="mainCtrl.editSuperHero(hero)">Edit Hero</button> -->
  </div>
</article>
</div>



<!-- <button ng-click="adminCtrl.alertMe()">Alert Me!!!</button>
 -->
