<!-- <p>This is your detailed view!</p> -->

<a class="backshop" href="#/client">Back to Shopping</a>

<h2>{{clientCtrl.singleItem.name}}</h2>
<!-- <h2>{{clientCtrl.singleItem.photo}}</h2> -->
<img class="detailPhoto" ng-src="{{ clientCtrl.singleItem.photo}}" alt="">
<h2>{{clientCtrl.singleItem.price}}</p\h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nisi at explicabo beatae est, itaque voluptas cupiditate sequi, dolorem repellendus adipisci voluptatum quod tempora quidem magnam voluptatibus iusto! Ex, expedita!</p>
