<div class="editItem">
<h4>Edit this item.</h4>

<h5> <input type="text" ng-model="adminCtrl.singleItem.name"></h5>
<p> <input type="text" ng-model="adminCtrl.singleItem.photo"></p>

<p> <input type="text" ng-model="adminCtrl.singleItem.price"></p>
<button ng-click="adminCtrl.editItem(adminCtrl.singleItem)">Submit Edit</button>
<a ng-click="adminCtrl.editItem(adminCtrl.singleItem)" class="backadmin" href="#/admin">Back to Admin</a>

</div>
<footer>

  <article>
    <div class="soxx" ng-controller="InstaController as instaCtrl" ng-repeat="photo in instaCtrl.photoFeed"> <!-- {{$index}} -->
      <img ng-src=" {item.images.standard_resolution.url}" alt"">

        <p>{{photo.username}}</p>
        <img ng-src="{{ sox.photo}}" alt="">
      <p>  Price: {{sox.price | currency}} </p>
        <button ng-click="adminCtrl.deleteSuperSox(sox._id)">Delete Sox</button> |
      <!--   <button ng-click="mainCtrl.editSuperHero(hero)">Edit Hero</button> -->
    <a href="#/edit/{{sox._id}}">Edit</a>
    </div>
  </article>


</footer>
